#pass  { 
  font-size: 17px;
  position: absolute;
  height: 30px;
  width: 200px;
  top: 100px;
  left: 50px;
  border-radius: 5px;
  border-style: solid;
  background-color:lightskyblue;
}

#pass_error {
  position: absolute;
  top: 130px;
  left: 88px;
  font-size: 15px;
  color: red;
}