#button { 
  position: absolute;
  top: 40px;
  left: 260px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border-style: solid;
  background-color:lightgreen;
}

#button:hover {
  cursor: pointer;
}